.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: flex-end;

    /* width: 100%;
    height: 100vh; */

    /* margin: 0 auto; */
    
}

.loginBox{
    color: #000000;
    background-color: #f1f1f1;
    border: 4px solid gray;
    width: fit-content;
    /* height: 25rem; */
    margin: 0 auto;
}



.registerButton{
    width: fit-content;
    background-color: #FEFEFE;
    border: 1.5px solid #000000;
    padding: 10px 20px;
    margin-right: 15rem;
    cursor: pointer;
    color: #000000;
}
.registerButton:hover{
    background-color: #FF9F59;
    color: black;
}

.main input {
    background-color: white;
    color: black;
    border-radius: 0;
}




/* login */


.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-inline: auto;
}

.loginHeader {
    margin-bottom: 20px;
}

.loginHeader > h2{
    font-weight: 100;
    padding-top:10%;
    padding-left:10%;
    /* font-size: 22px; */
}

.loginForm {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.loginInput {
    margin-bottom: 1rem;
    padding: 10px;
    width:100%;
    border: 1px solid #000000;

}

.loginButton {
    background-color: #FEFEFE;
    border: 1px solid #000000;
    color: #000000;
    padding: 10px 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.loginButton:hover {
    background-color: orange;
}

.signupLink {
    text-align: center;
    margin-top: 10px;
}

.signupLink p {
    font-size: 0.7rem;
}

.signupLink a {
    text-decoration: none;
}


.loginLogoBox{
    display: flex;
    flex-direction: row;
}

.loginLogoBox  p{
    margin-block: auto;
}

/* register only */
