


.profileEditBox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}


.profileEditBox > h3{
    font-weight: 200;
}

.profileEditBoxForm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    height: 100%;
    padding-bottom: 2rem;
    
}

.profileEditBoxForm .profileEditBoxFormFirstContainer div{
    display: flex;
    flex-direction: column;
}

.profileEditBoxForm .profileEditBoxFormFirstContainer div:last-child{
    margin-top: 2rem;
}

.profileEditBoxForm div:last-child{
    display: flex;
    justify-content: center;
    @media (min-width: 640px){
        justify-content: flex-end;
    }
}




.profileEditBox label {
    font-size: 0.7rem;
}

.profileEditBox input, .profileEditBox textarea {
    padding: 0.4rem;
    font-size: 0.7rem;
}

.profileEditBox input {
    width: 50%;
}

.profileEditBox button{
    font-size: 1rem;
    padding: 0.6rem 2.5rem;
}