.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  
  .topNav button {
    background-color: #ff8c00;
    border: none;
    color: white;
    padding: 8px 16px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .search input {
    width: 60%;
    padding: 12px;
    border: 1px solid #000000;
    border-right: none;
    font-size: 16px;
    border-radius: 5px;
    background-color: white;
    color: black;
  }
  
  .searchBtn {
    padding: 12px 16px;
    background-color: white;
    border: 1px solid #ccc;
    border-left: none;
    cursor: pointer;
    font-size: 16px;
  }
  



  .card {
    border: 1px solid #ccc;
    height: 8rem;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    background-color: white;
    display: flex;
    justify-content: space-between;
  }

  .card > * {
    flex: 1;
    margin: 8px 0;
  }

  .card h2 {
    font-size: 18px;
  }

  .card p {
    font-size: 14px;
  }
  
  .directionsBtn {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  .cardContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
  .imagePlaceholder {
    width: 10%;
    height: 100px;
    background-color: #ccc;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #666;
  }